name: 16 - Working with Environments
# run-name: 16 - Working with Environments | env - ${{inputs.target-env}}

on:
  workflow_dispatch:
    # inputs:
    #     target-env: 
    #         type: environment
    #         default: staging

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment: staging
    env:
        my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}
    steps:
        - name: Echo vars
          run: |
            echo "Deploying to staging"
  e2e-tests:
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
        - name: E2E test
          run: echo "Running E2e"
  deploy-prod-frontend:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}
    steps:
        - name: Echo vars
          run: |
            echo "Deploying to prod frontend"
  deploy-prod-backend1:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}
    steps:
        - name: Echo vars
          run: |
            echo "Deploying to prod backend 1"
  deploy-prod-backend2:
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}
    steps:
        - name: Echo vars
          run: |
            echo "Deploying to prod backend 2"

  